<script src="https://giscus.app/client.js"
        data-repo="Huilin-Li/COMMENTS-STORAGE"
        data-repo-id="R_kgDOLrRUFQ"
        data-category="General"
        data-category-id="DIC_kwDOLrRUFc4Ceice"
        data-mapping="og:title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>